<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<div>
    <form style="display:inline-block;" method="post" action="/first/"> {% csrf_token %}
        <input class="btn btn-default" type="submit" name="quest1" value="Question 1">
        <input class="btn btn-default" type="submit" name="quest2" value="Question 2">
        <input class="btn btn-default" type="submit" name="quest3" value="Question 3">
        <input class="btn btn-default" type="submit" name="quest4" value="Question 4">
        <input class="btn btn-default" type="submit" name="quest5" value="Question 5">
        <input class="btn btn-default" type="submit" name="quest6" value="Question 6">
        <input class="btn btn-default" type="submit" name="quest7" value="Question 7">
        <input class="btn btn-default" type="submit" name="quest8" value="Question 8">
        <input class="btn btn-default" type="submit" name="quest9" value="Question 9">
        <input class="btn btn-default" type="submit" name="quest10" value="Question 10">
    </form>

    {% block question %}
    {% endblock %}

</div>
<div>

<form  style="width: 900px; height: 150px;" class="form-group" action="/search/" method="get">

    <textarea class="form-control" rows="5" id="comment" name="q"></textarea>
    <input class="btn btn-default" type="submit" value="Search">

</form>
</div>
<div style="float:left;top:20px">

    {% block queryresult %}

{% endblock %}

</div>


</body>
</html>