<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title></title>
</head>
</head>
<body>
<h1>TODAY, YOU WILL QUERY LIKE A BOSS.</h1>
    <form style="display:inline-block;" method="post" action="/citnandcom/"> {% csrf_token %}
        <input class="btn btn-default" type="submit" name="citandcom" value="Beginners Course: Cities and Comedians!">
    </form>
</body>
</html>