{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>The Story - Free Bootstrap Theme</title>
<!--
The Story Theme
http://www.templatemo.com/tm-480-story
-->
        <!-- load stylesheets -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400">  <!-- Google web font "Open Sans" -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">                                                <!-- Bootstrap style -->
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">                                                   <!-- Flexslider style -->
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">                                             <!-- Templatemo style -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body class="page">
        
            
            <!-- background images -->
            <div class="page-bg-imgs-list">
                <img src="{% static 'img/story-bg-1.jpg' %}" id="page-1-img" class="main-img" alt="About">
                <img src="{% static 'img/story-bg-2.jpg' %}" id="page-2-img" alt="Gallery">
                <img src="{% static 'img/story-bg-3.jpg' %}" id="page-3-img" alt="Services">
                <img src="{% static 'img/story-bg-4.jpg' %}" id="page-4-img" alt="Contact">
            </div>
            
            <div class="container-fluid">
                <!--<div class="row">
                    <img src="{% static 'img/banner.png' %}">
                </div>-->
                <div class="row">

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" class="header">

                            <!-- site title -->
                            <header class="box box-white">
                                <a href="javascript:void(0)" class="js-site-title">
                                    <h1 class="box-text site-title-text">Query Boss</h1>
                                </a>            
                            </header>
                            <!-- site navigation -->
                            <nav class="js-nav">
                                <ul class="nav-items-container">

                                    <li data-nav-item-id="page-1" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item">
                                        <a href="#page-1" lass="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">About</span>
                                        </a>
                                    </li>

                                    <li data-nav-item-id="page-2" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item">
                                        <a href="#page-2" lass="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">Cities and Comedians</span>
                                        </a>
                                    </li>

                                    <li data-nav-item-id="page-3" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item">
                                        <a href="#page-3" lass="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">Rappers</span>
                                        </a>
                                    </li>

                                    <li data-nav-item-id="page-4" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item">
                                        <a href="#page-4" lass="block-keep-ratio-content box-nav-item-link">
                                            <span class="box-text box-text-nav-item flexbox-center">Boys and Girls</span>
                                        </a>
                                    </li>

                                </ul>
                            </nav>    
                        </div> <!-- .header -->




                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" class="content-wrapper js-content-wrapper">

                           <!-- about -->
                            <section data-page-id="page-1" class="content content-gallery js-content">
<header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Cities and Comedians</h2>
                                </header>

                                <div>
                                    <div class="content-text">
                                    <div class="page-content-wrapper">
                                        <div class="container-fluid">
                                            <p>Welcome to Query Boss! We are happy to provide you with the most
                                                thorough and helpful SQL courses
                                                on the interwebs in order make you into
                                                the best Queryer known to mankind.</p>
                                            <br>
                                            <p>On the left we have various lesson for you to choose from.
                                                It's simple, just choose your
                                                question from the drop down, and refer to
                                                the Entity Relationship diagram above the
                                                query box to build the query you think will
                                                give you the correct answer. When your ready,
                                                submit your query and see if you've gotten the right answer!
                                            </p>
                                            <br>
                                            <p>
                                                If you have any questions, feel
                                                free to contact Myles at mcooney9790 at gmail dot com. Happy SQLing!
                                            </p>

                                        </div>
                                    </div>

                                </div>
                                </div>

                                <!-- Page Content -->


                            </section> <!-- #about -->

                            <!--city and comedians-->
                            <section data-page-id="page-2" class="content js-content">
                                <header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Cities and Comedians</h2>
                                </header>

                                <div>
                                    <div class="content-text">
                                    <div class="page-content-wrapper">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <img src="{% static 'img/cities_and_comedians_REL.jpg' %}" height="250" width="600"/>
                                                <div class= "querybox-wrapper" class="col-lg-12">
                                                    <form method="get">

                                                        <select onchange="showQuestion(this.value)">
                                                             <option>Choose a question</option>
                                                             <option value="1">Question 1</option>
                                                             <option value="2">Question 2</option>
                                                             <option value="3">Question 3</option>
                                                             <option value="4">Question 4</option>
                                                             <option value="5">Question 5</option>
                                                             <option value="6">Question 6</option>
                                                             <option value="7">Question 7</option>
                                                             <option value="8">Question 8</option>
                                                             <option value="9">Question 9</option>
                                                             <option value="10">Question 10</option>
                                                        </select>

                                                    </form>

                                                    <form class="form-group" id="submitquery-1" method="get">
                                                        {% csrf_token %}

                                                        <div id="show-question"></div>
                                                        <textarea type="text" class = "querybox" cols= "40" rows="5" name="q"/></textarea>
                                                        <input type="submit" value="Search">
                                                    </form>
                                                    </div>
                                                <div id="showqueryhere1"></div>


                                                </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </div>

                                <!-- Page Content -->


                            </section> <!-- city and com -->

                            <!-- second lesson -->
                            <section data-page-id="page-3" class="content js-content">

                                <header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Rappers</h2>
                                </header>

                                <div>
                                    <div class="content-text">
                                    <div class="page-content-wrapper">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <img src="{% static 'img/Rappers_REL.jpg' %}" height="250" width="600"/>
                                                <div class= "querybox-wrapper" class="col-lg-12">
                                                    <form method="get">

                                                        <select onchange="showQuestion(this.value)">
                                                             <option selected>Choose a question</option>
                                                             <option value="1">Question 1</option>
                                                             <option value="2">Question 2</option>
                                                             <option value="3">Question 3</option>
                                                             <option value="4">Question 4</option>
                                                             <option value="5">Question 5</option>
                                                             <option value="6">Question 6</option>
                                                             <option value="7">Question 7</option>
                                                             <option value="8">Question 8</option>
                                                             <option value="9">Question 9</option>
                                                             <option value="10">Question 10</option>
                                                        </select>

                                                    </form>

                                                    <form class="form-group" id="submitquery-2" method="get">
                                                        {% csrf_token %}

                                                        <div id="show-question2"></div>
                                                        <textarea type="text" class = "querybox" cols= "40" rows="5" name="q"/></textarea>
                                                        <input type="submit" value="Search">
                                                    </form>
                                                    </div>
                                                <div id="showqueryhere2">

                                                </div>


                                                </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </div>

                                <!-- Page Content -->

                            </section> <!-- #Rappers -->

                            <!-- contact -->
                            <section data-page-id="page-4" class="content js-content">
                              <header class="box box-black margin-b-20">
                                    <h2 class="box-text page-title-text">Boys and Girls</h2>
                                </header>

                                <div>
                                    <div class="content-text">
                                    <div class="page-content-wrapper">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <img src="{% static 'img/Rappers_REL.jpg' %}" height="250" width="600"/>
                                                <div class= "querybox-wrapper" class="col-lg-12">
                                                    <form method="get">

                                                        <select onchange="showQuestion(this.value)">
                                                             <option>Choose a question</option>
                                                             <option value="21">Question 1</option>
                                                             <option value="22">Question 2</option>
                                                             <option value="23">Question 3</option>
                                                             <option value="24">Question 4</option>
                                                             <option value="25">Question 5</option>
                                                             <option value="26">Question 6</option>
                                                             <option value="27">Question 7</option>
                                                             <option value="28">Question 8</option>
                                                             <option value="29">Question 9</option>
                                                             <option value="30">Question 10</option>
                                                        </select>

                                                    </form>

                                                    <form class="form-group" id="submitquery-3" method="get">
                                                        {% csrf_token %}

                                                        <div id="show-question3"></div>
                                                        <textarea type="text"class = "querybox" cols= "40" rows="5" name="q"/></textarea>
                                                        <input type="submit" value="Search">
                                                    </form>
                                                    </div>
                                                <div id="showqueryhere3"></div>


                                                </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                </div>

                                <!-- Page Content -->
                            </section> <!-- #Boys and Girls -->
                    </div>

                </div>
                    
                <!-- footer row -->
                <footer class="row footer js-footer">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <p class="copyright-text">Copyright &copy; 2016Q Query Boss</p>

                    </div>                
                </footer>

            </div>  <!-- .container-fluid -->

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div><!-- /#preloader -->      
            
        <!-- load JS files -->
        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script> <!-- jQuery -->
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script> <!-- Backstretch http://srobbin.com/jquery-plugins/backstretch/ -->
        <script src="{% static 'js/templatemo-script.js' %}"></script> <!-- Templatemo scripts --><script src="{% static 'js/ajaxcalls.js' %}"></script> jax -->

    </body>
</html>