<!DOCTYPE html>
{% extends "index.html" %}
{% load staticfiles %}
{% block questio %}


<form style="display:inline-block;" method="post" action="/first/"> {% csrf_token %}

            <ul class="sidebar-nav">
                <li>
                    <li>
                    <h3 align="center">Cities and Comedians</h3>
                </li>
                </li>
                <li>
                    <button class="btn btn-default" name="ccquest" type="submit"  value="1">Question 1
                    </button>
                </li>
                <li>
                    <button class="btn btn-default" name="ccquest" type="submit"  value="2">Question 2
                    </button>
                </li>
                <li>
                    <button class="btn btn-default" name="ccquest" type="submit" value="3">Question 3
                    </button>
                </li>
                <li>
                    <button class="btn btn-default" name="ccquest" type="submit" value="4">Question 4
                    </button>
                </li>
                <li>
                    <input class="btn btn-default" type="submit" id = "5" name="ccquest" value="Question 5">
                </li>
                <li>
                    <input class="btn btn-default" type="submit" id = "6" name="ccquest" value="Question 6">
                </li>
                <li>
                    <input class="btn btn-default" type="submit" id = "7" name="ccquest" value="Question 7">
                </li>
                <li>
                    <input class="btn btn-default" type="submit" name="quest8" value="Question 8">
                </li>
                <li>
                    <input class="btn btn-default" type="submit" name="quest9" value="Question 9">
                </li>
                <li>
                    <input class="btn btn-default" type="submit" name="quest10" value="Question 10">
                </li>

            </ul>
        </form>

{% endblock %}
